[submodule "tools"]
	path = tools
	url = https://github.com/Schlaubischlump/xcodedevtools
[submodule "Localization"]
	path = Localization
	url = git@github.com:Schlaubischlump/LocationSimulator-Localization.git
