<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11.0</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.0/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.0/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>11.1</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.1/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.1/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>11.2</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.2/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.2/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>11.3</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.3/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.3/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>11.4</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.4/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/11.4/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.0</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/12.0/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/12.0/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.1</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/12.1/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/12.1/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.2</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/12.2/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/12.2/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.3</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/12.3/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/12.3/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.4</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.5</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.6</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.7</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>12.8</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/12.4/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>13.0</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/13.0/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/luannguyenkhoa/LocationSimulator/raw/master/LocationSimulator/13.0/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>13.1</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.1/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.1/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>13.2</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.2/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.2/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>13.3</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.3/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.3/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>13.4</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.4/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.4/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>13.5</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.5/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.5/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>13.6</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.6/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.6/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>13.7</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.7/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/13.7/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>14.0</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/14.0/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/14.0/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>14.1</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/14.1/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/14.1/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>14.2</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/14.2/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/14.2/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>14.3</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/14.3/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/14.3/DeveloperDiskImage.dmg.signature</string>
		</array>
	</dict>
	<key>Fallback</key>
	<dict>
		<key>Image</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/%@/DeveloperDiskImage.dmg</string>
		</array>
		<key>Signature</key>
		<array>
			<string>https://github.com/pdso/DeveloperDiskImage/raw/master/%@/DeveloperDiskImage.dmg</string>
		</array>
	</dict>
</dict>
</plist>
